---


---

<header>
	<img src="/aerislogo.svg" alt="Aeris Logo" class="logo" style="width: 36px;">
</header>
<body>
	<div class="hero">
		<a class="links" href="https://www.wayra.es/news/aeris-recero-y-acte-se-alzan-con-el-premio-de-la-sexta-edicion-de-innomakers4health-de-wayra-pfizer-y-fundacion-pfizer" 
			target="_blank">What is Aeris?</a>
		<h1>Welcome to the future of healthcare</h1>
		<p>We are still building Aeris.</p>
		<p>Be part of the movement to transform healthcare.</p>
	</div>
	<form class="newsletter-container" action="https://formspree.io/f/xgvvplbd" method="POST">
		<p>Join the newsletter</p>
		<span class="newsletter">
			<div class="input-container">
				<input type="email" name="email" placeholder="Email address...">
				<textarea name="message" style="display: none;" readonly> </textarea>
				<button type="submit">Join Now</button>
			  </div>
		</span>
	</form>
	<footer>
		<p>Made with ♡ by Aeris Team.</p>
	</footer>
</body>

<style>
	html {
		position: relative;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	.logo {
		width: 48px;
	}

	.hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		z-index: 2;
	}

	h1 {
		font-family: 'Lato', sans-serif;
		font-size: 4rem;
		color: #2C3E50;
		font-weight: 600;
		text-align: center;
		max-width: 660px;
		letter-spacing: -2px;
		background: linear-gradient(to right, #091041, #15426F);
		-webkit-background-clip: text;
        background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height: 115%;
		margin-top: 24px;
		margin-bottom: 32px;
	}

	p {
		font-family: 'Lato', sans-serif;
		text-align: center;
		font-size: 16px;
		margin: 0;
		background: linear-gradient(to right, #091041, #15426F);
		-webkit-background-clip: text;
        background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	header {
		margin: 32px;
	}

	.links {
		background: #F3F7FF;
		border-radius: 999px;
		border: 1px solid #321b6627;
		padding: 6px 25px;
		z-index: 3;  /* Mismo z-index que input-container */
		position: relative;  /* Necesario para que el z-index funcione */
	}

	a {
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		text-decoration: none;
		backdrop-filter: blur(32px);
		box-shadow: inset 0px 4px 1px -1px #f3f7ff4c;
		color: #091041;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		height: 100%;
		z-index: 1;  /* Cambiamos de 2 a 1 */
	}

	.newsletter-container {
		margin-top: 32px;
		z-index: 3;  /* Mismo z-index que input-container */
		position: relative;  /* Necesario para que el z-index funcione */
	}

	.input-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 8px;
		margin-top: 16px;
		padding: 0;
		justify-content: center;
		z-index: 3;  /* Añadimos z-index mayor que las burbujas */
		position: relative;  /* Necesario para que el z-index funcione */
	}

	input {
		padding: 2px 12px;
		border-radius: 8px;
		border: 1px solid #321b6629;
		height: 32px;
		font-size: 14px;
		line-height: 20px;
		box-shadow: 0 1px 2px #18094116;
		width: 100%;
		max-width: 250px;
	}

	button {
		background-color: #0C64FF;
		border: 1px solid #321b6629;
		border-radius: 8px;
		padding: 10px 24px;
		color: white;
		font-weight: 400;
		box-shadow: inset 0px 4px 1px -1px #f3f7ff37, 0px 1px 2px #1809413a;
		cursor: pointer;
	}
	
	button:hover {
		background-position: right center;
		background-size: 200% auto;
		-webkit-animation: pulse 2s infinite;
		animation: pulse512 1.5s infinite;
	}

	@keyframes pulse512 {
		0% {
		box-shadow: 0 0 0 0 #05bada66;
		}

		70% {
		box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
		}

		100% {
		box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
		}
	}

	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		padding-bottom: 48px;
		width: 100%;
		text-align: center;
	}

	footer p {
		background: linear-gradient(to right, #09104134, #15426f2b);
		-webkit-background-clip: text;
        background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@media (max-width: 480px) {
		h1 {
			font-size: 2.8rem;
		}
		input {
			max-width: 150px;
		}
		.hero {
			padding: 0px 12px
		}
		body {
			padding: 40px 6px 6px;
		}
		.logo {
			width: 32px;
		}
		header {
			align-items: center;
			display: flex;
			justify-content: center;
		}
		footer p {
			font-size: 12px;
			background: linear-gradient(to right, #09104121, #15426f41);
			-webkit-background-clip: text;
            background-clip: text;
			-webkit-text-fill-color: transparent;
		}

	}


#background-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;  /* Cambiamos de 1 a 2 */
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.054), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.054), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);        /* Compatibilidad moderna */
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}
</style>