<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/aerislogo.svg" />
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Aeris</title>
	</head>
	<body>
		<div class="body-wrapper">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 18px;
		box-sizing: border-box;
	}

	.body-wrapper {
		max-width: 1415px;
		background: linear-gradient(to bottom, #F3F1FF 0%, #F3F7FF 100%);
		border-radius: 24px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		box-shadow: inset 0px 0px 5px rgba(180, 163, 202, 0.2);
	}
</style>
